.upload-drop-zone {
    position: relative;
    color: #ccc;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.upload-drop-zone input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.file-view, .file-preview {
    width: 200px;
}

.file-view{
    border: 1px;
    margin-top: 20px;
    overflow: hidden;
}



.upload-icon {
    font-size: 36px;
}


#crop-image-preview {
    max-width: 100%;
    max-height: 100%;
}