/* SISP Reborn
Styling by Bobby Fajar Christian @bobbyfch
& PDSI Dev Team */

/* Custom Main Styling */
@import '../../vendor/swiper/swiper-bundle.min.css';
@import '../../vendor/imageuploader/image-uploader.min.css';
@import '../../vendor/jpreview/jpreview.css';
@import '../../vendor/smartwizard/css/smart_wizard_all.min.css';
@import '../../vendor/lightgallery/css/lightgallery-bundle.min.css';


/* Webicons */
@import url('https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css');
@import url('https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.14.0/css/selectize.bootstrap5.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css');
@import url('https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.2/af-2.5.2/b-2.3.4/b-colvis-2.3.4/b-html5-2.3.4/b-print-2.3.4/cr-1.6.1/date-1.3.0/fc-4.2.1/fh-3.3.1/kt-2.8.1/r-2.4.0/rg-1.3.0/rr-1.3.2/sc-2.1.0/sb-1.4.0/sp-2.1.1/sl-1.6.0/sr-1.2.1/datatables.min.css');
@import url('https://unpkg.com/aos@next/dist/aos.css');

/* Main css */
@import '../theme.min.css';

html {
    scroll-behavior: smooth;
}


#map {
    position: relative;
    min-height: 500px;
    z-index: 1 !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s .2s ease-in-out;
    transition: all .4s .2s ease-in-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

.dark-mode .page-loading {
    background-color: #0b0f19;
}

.page-loading.active {
    opacity: 1;
    visibility: visible;
}

.page-loading-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}

.page-loading.active>.page-loading-inner {
    opacity: 1;
}

.page-loading-inner>span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: #9397ad;
}

.dark-mode .page-loading-inner>span {
    color: #fff;
    opacity: .6;
}

.page-spinner {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: .75rem;
    vertical-align: text-bottom;
    border: .15em solid #b4b7c9;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}

.dark-mode .page-spinner {
    border-color: rgba(255, 255, 255, .4);
    border-right-color: transparent;
}

@-webkit-keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1300px) and (min-width: 1000px) {
    .nav-link {
        font-size: 15px;
        font-weight: 700;
    }
}


/* Floating Hero Button */
.floating-whatsapp {
    animation: bot-to-top 2s ease-out;
    border-radius: 50px;
    bottom: 100px;
    height: 60px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 60px;
    z-index: 1000;
}

.floating-whatsapp:hover {
    display: flex;
    justify-content: flex-end;
    margin-right: -20px !important;
    width: 250px;
}

.floating-whatsapp__text {
    align-items: center;
    animation: scale-out 0.5s;
    background-color: #014E94;
    border-radius: 35px;
    bottom: 95px;
    color: #fff;
    display: flex;
    height: 70px;
    position: fixed;
    right: 5px;
    width: 240px;
    z-index: 100;
    padding-left: 10px;
}

.floating-whatsapp__text:hover {
    opacity: 1 !important;
    visibility: visible !important;
}

.floating-whatsapp__icon {
    font-size: 16px;
    font-style: initial;
    overflow: hidden;
    padding-left: 0px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

#floating-whatsapp+.floating-whatsapp__text {
    visibility: hidden;
}

#floating-whatsapp:hover+.floating-whatsapp__text {
    animation: scale-in 0.5s;
    visibility: visible;
}

.btn-resend-code {
    margin-top: 10px;
    text-align: center;
    background-color: #fe5151;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-resend-code a {
    color: #edecec;
}

@keyframes bot-to-top {
    0% {
        bottom: -100px;
    }

    50% {
        bottom: 100px;
    }
}

@keyframes scale-in {
    0% {
        opacity: 0;
        width: 0px;
    }

    100% {
        opacity: 1;
        width: 250px;
    }
}

@keyframes scale-out {
    0% {
        opacity: 1;
        width: 250px;
    }

    100% {
        opacity: 0;
        width: 0px;
    }
}

.btn-style-one {
    position: relative;
    text-align: center;
    white-space: nowrap;
    color: #ffffff;
    background-color: #E70A2B;
    font-size: 15px;
    line-height: 20px;
    border-radius: 8px;
    font-weight: 400;
    padding: 10px 30px;
}

.btn-rounded {
    border-radius: 24px !important;
}