/* SISP Reborn
Styling by Bobby Fajar Christian @bobbyfch
& PDSI Dev Team */

/* Custom Per Pages Styling */
@import url('https://cdn.jsdelivr.net/npm/smartwizard@6/dist/css/smart_wizard_all.min.css');
@import '../../vendor/dropzone/dropzone.css';

/* Import Main Custom Styling */
@import 'index.css';

.foto-pasar {
    height: 250px;
    object-fit: cover;
}