/* SISP Reborn
Styling by Bobby Fajar Christian @bobbyfch
& PDSI Dev Team */

/* Custom Per Pages Styling */
@import url('https://cdn.jsdelivr.net/npm/smartwizard@5.1.1/dist/css/smart_wizard_all.min.css');

/* Import Main Custom Styling */
@import 'index.css';

.sw-theme-dots .toolbar>.btn {
    background-color: #E70A2B;
    border: 1px solid #E70A2B;
}

.sw-theme-dots > .nav .nav-link::before {
    color : #E70A2B !important;
}

.sw-theme-dots > .nav .nav-link.active::after {
    background-color: #E70A2B !important;
}

.tab-content {
    height: fit-content !important;
}

.tab-pane {
    width: 100% !important;
}

