/* SISP Reborn
Styling by Bobby Fajar Christian @bobbyfch
& PDSI Dev Team */

/* Custom Per Pages Styling */
@import url('https://unpkg.com/leaflet@1.0.3/dist/leaflet.css');
@import url('https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.5.3/dist/MarkerCluster.css');
@import url('https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css');
@import url('https://cdn.jsdelivr.net/npm/leaflet.fullscreen@2.4.0/Control.FullScreen.css');

/* Import Main Custom Styling */
@import 'index.css';

